@tailwind base;
@tailwind components;
@tailwind utilities;

.modal-popup {
    animation: popup 0.5s ease forwards;
}

@keyframes popup {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }

    50% {
        opacity: 1;
        transform: scale(1.1);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}